<%- include('../partials/header') %>

  <body>
    <img class="index-image"
      src="https://images.unsplash.com/photo-1533747732305-e29603106e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80">

    <% if (user) { %>
      <center>
        <div class="welcome">
          <h1>Welcome to the Travel Tracking App</h1>
          <h3>Please Click Below to View your Trip </h3>
        </div>
      </center>
      <div class="div-view-trip">
        <% travels.forEach(t=> { %>
          <section class="view-trip">
            <h2 id="h2-welcome"><u><%= t.continent %></u></h2>
            <h3><%= t.country %> </h3>
            <a href="/travels/<%= t._id %>"><button class="view-button">View Trip</button></a><br>
            <form method="POST" action="/travels/<%=t.id%>?_method=DELETE">
              <input type="submit" value="Delete-Trip" class="delete-button"><br><br>
            </form>
          </section>
          <% }) %>
      </div>

      <% } else { %>
        <center>
          <div id="index-view">
            <h1>Welcome to the Travel Tracker</h1>
            <h2>Please Login Below to Continue</h2>
            <a href="/auth/google"><button class="login-button">Login</button></a>
          </div>
        </center>
        <% } %>


      </main>
    </body>
    
    </html> 