<%- include('../partials/header') %>
<body>
      <h1><center>Welcome to your personal trip</center> </h1>
      <center><section>
            <div>Continent: <%= travel.continent %> </div><br>
            <div>Country: <%= travel.country %> </div> <br>
            <div>City: <%= travel.city %> </div> <br>
            <div> Description: <%= travel.description %> </div><br>
            <div>Image: <%= travel.img %> </div>
      </section></center>
      
      
            <h2>Journals:</h2>
            <% if (travel.journals.length) { %>
                  <% travel.journals.forEach(function(journal) {%>
                   <div>Item no. <%= journal.itemNo %> </div>
                   <div> Text <%= journal.text %> </div>
                   <form method="POST" action="/travels/<%=travel.id %>/journals/<%=journal.id%>?_method=DELETE">
                        <input type="submit" value="Delete-Journal">
                  <form action="/journals/<%= journal._id %>?_method=PUT" method="POST">
                  <input name="text" value="<%= journal.text %>">
                  <button type="submit">Update comment</button> 
                  </form>
                  <% }) %>
            <% } else { %>
             <h3>No Entries yet</h3>
             <% } %>
 
      <section>
            <h2>Add a journal entry</h2>
            <form id="add-journal-entry" method="POST" action="/travels/<%= travel._id %>/journals">
            <label>Item No.
                  <input type="text" name="itemNo">
            </label><br>
            <label> Text
                  <input type="text" name="text">
            </label>
            <input type="submit" value="Add-journal">
            </form>
      </section>
</main>
</body>
</html>
