<%- include('../partials/header') %>
<body>
      <h1><center>Welcome to your personal trips</center> </h1>
      <section>
            <div>continents</div>
            <div><%= travels.continent %> </div>
            <div>Country: </div>
            <div><%= travels.country %></div>
            <div>City </div>
            <div><%= travels.city %></div>
            <div>Description </div>
            <div><%= travels.description %></div>
            <div>Image </div>
            <div><%= travels.img%></div>
      </section>
</main>
</body>
</html>